name: "Docker Build and Push"
description: "Build and push Docker image using docker bake"

inputs:
  token:
    description: "GitHub token"
    required: true
  latest:
    description: "Tag as latest"
    required: false
    default: "false"
  push:
    description: "Push to registry"
    required: false
    default: "false"
  tag-strategy:
    description: "Tagging strategy (latest, semver)"
    required: false
    default: "latest"

runs:
  using: "composite"
  steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

    - name: Log in to Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ inputs.token }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
      with:
        images: ghcr.io/${{ github.repository }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha,prefix={{branch}}-
          type=raw,value=latest,enable={{is_default_branch}}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}

    - name: Build and push with docker bake
      uses: docker/bake-action@4a9a8d494466d37134e2bfca2d3a8de8fb2681ad # v5
      env:
        BUILD_DATE: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
        REGISTRY_IMAGE: ghcr.io/${{ github.repository }}
        SOURCE_COMMIT: ${{ github.sha }}
        VERSION: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
      with:
        targets: ${{ inputs.push == 'true' && 'image-automated' || 'image-local' }}
        push: ${{ inputs.push }}
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max