---
name: On Merge

on:
  push:
    branches:
      - main
    paths:
      - '**/*.ts'
      - '**/*.js'
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'Dockerfile*'
      - 'docker-bake.hcl'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Tests
        uses: ./.github/actions/tests

  release-image:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build Latest Image
        uses: ./.github/actions/docker
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          latest: true
          push: true
          tag-strategy: "latest"