---
name: On Branch Push

on:
  push:
    branches:
      - '**'
      - '!main'
      - '!renovate/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Tests
        uses: ./.github/actions/tests